.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* Tweet */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(240, 240, 255);
}
.tweet {
  display: flex;
  background-color: #fff;
}
.tweet:not(:last-child) {
  border-bottom: 1px solid rgb(200, 200, 200);
}
.icon-container {
  width: 1.5em;
  font-size: 3em;
  padding: 0.2em;
}
.body-container {
  flex: 1;
  padding: 0.5em;
}
.account-name {
  color: #ddd;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
